.wrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: #08162A;
    opacity: 0.8;
    z-index: 9;

    transition: 1s;
}
.containerModal {
    position: fixed;
    z-index: 10;
    background-color: #08162A;
    width: 30vw;
    height: 100%;
    top: 0;
    padding: 3% 5%;
    opacity: 1 !important;
    display: flex;
    flex-direction: column;

    -webkit-box-shadow: 2px 0px 23px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 0px 23px 0px rgba(0,0,0,0.2);
    box-shadow: 2px 0px 23px 0px rgba(0,0,0,0.2);

    transition: 1s;
}
.divCloseIcon {
    height: 5%;
}
.divCloseIcon a {
    display: block;
    text-align: right;
    bottom: 0;
}
.divCloseIcon img {
    width: 2rem;
}
.menuModal {
    flex: 1;
}
.menuModal ul {
    margin-top: 20%;
}
.menuModal ul li {
    font-size: 3rem;
    padding: 2% 0;
    list-style: none;
}

.menuModal ul li a {
    font-size: 3rem;
}
.divFooter {
    height: 5%;
}
.divFooter a {
    display: block;
    text-align: right;
}
.divFooter img {
    width: 12rem;
}
